/Project3-Smart-home3-with-stm32/Hardware
web Server/static/img/test3.mp4
web Server/static/img/test4.mp4
web Server/static/img/test2.mp4
web Server/test/static/img/test2.mp4
web Server/test/static/img/test3.mp4
web Server/test/static/img/test4.mp4
web Server/templates/cam copy.html
web Server/بک اپ/2/static/img/test2.mp4
web Server/بک اپ/2/static/img/test3.mp4
web Server/بک اپ/2/static/img/test4.mp4
web Server/AI engine/test3.mp4
web Server/AI engine/test4.mp4
web Server/static/img/abstract-polygonal-low-poly-shapes-with-neon-light-effect.zip
web Server/static/img/colorful-equalizer-wave-wallpaper-theme.zip
web Server/static/img/gradient-abstract-background.zip
web Server/static/img/realistic-polygonal-background.zip
/web Server/AI engine/datasets
/web Server/AI engine/results
/web Server/AI engine/test
/web Server/AI engine/log
/web Server/AI engine/datasets
/web Server/AI engine/datasets
/web Server/static/img/New folder
