/Project3-Smart-home3-with-stm32/Hardware
web Server/static/img/test3.mp4
web Server/static/img/test4.mp4
web Server/static/img/test2.mp4
web Server/test/static/img/test2.mp4
web Server/test/static/img/test3.mp4
web Server/test/static/img/test4.mp4
web Server/templates/cam copy.html
web Server/AI engine/main.exe
web Server/AI engine/persian-ALPR/
/web Server/AI engine/results
/web Server/AI engine/test
/web Server/AI engine/datasets
/web Server/AI engine/log
