:root {
  --background: rgb(24, 24, 24);
  --background-header: rgb(35, 35, 35);
  --background-header-items: rgb(39, 39, 39);
  --border-color: rgb(250,200,70);
  --text-color : rgb(255,255,255);
}

header div{
    display: block;
    top: 100px;
}
nav {
  border: 1px solid rgb(0, 0, 0);
  background: var(--background-header);
  border-radius: 50px; 
  padding: 10px 00px 20px 00px;
  width: 100%;
  height: 20px;
  display: flexbox;
  align-content: center;
}
nav div{
  display: inline;
  width:auto;
  height: 20px;
  float: none;
  
}
nav .user-profile{
  color: var(--text-color);
  background: var(--background-header) ;
  display: inline;
  border-radius: 50px;
  padding: 00px 00px 00px 40px;
  margin-top: -5px;
  width:auto;
  height: 20px;
  float: right;
}
nav .user-profile img{
  width : 40px ;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  vertical-align: middle;
  object-fit: cover;
}
nav a{
  border: 1px solid var(--background-header-items);
  background-color: var(--background-header-items);
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 auto;
  padding: 8px 14px;
  font-size: 20px;
  border-radius: 20px;
  transition: all 0.5s ease;
}
nav a:hover {
  background-color: var(--background-header);
  color: var(--border-color);
  border-color: var(--border-color);
}
nav .MHA{
  position: relative;
  background-color:rgba(33, 33, 33, 0);
  border-color: rgba(0, 255, 255, 0) ;
  color: var(--border-color);
  font-size: 40px;
  float:inline-end;
  padding-left: 20px;
  transition: 0s;
  top: -11px;
}
.MHA:hover{
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Vazirmatn', 'Poppins', sans-serif;
  background-color: var(--background);
}

.live{
  display: inline;
}
.live video{
  background-color: var(--background);
  width: 30vw;
  padding: 5px;
  border-radius: 30px ;
  object-fit: cover;
  
}

